.slider-container {
    z-index: 100;
    max-width: 700px;
    max-height: 438px;
    overflow: hidden;
}
.slide-window {
    position: relative;
    transition: left 1s;
    display: flex;
    flex-direction: row;
}
