* {
    padding: 5px;
}
table {
    width: 50%;
}
.border {
    border: 1px solid black;
}
td {
    height: 100px;
}
.half {
    width: 50%;
}
.answer-container {
    vertical-align: top;
    min-width: 140px;
}
.question-container {
    text-align: center;
    min-width: 90px;
}