input {
    margin-top: 5px;
    margin-bottom: 5px;
}
button {
    margin: 5px;
}
.circle {
    border-radius: 50%;
    text-align: center;
}
.hidden {
    display: none;
}
.border {
    border: 2px solid black;
}
.relative {
    position: relative;
}
.print-result {
    max-width: 700px;
    word-wrap: break-word;
}