header h1 {
    text-align: center;
}
main {
    margin-bottom: 100px;
}
button {
    zoom: 2;
    border-radius: 20px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}
