
#mode-select {
    width: 350px;
    display: grid;
    gap: 10px;
    justify-items: center;
}
ol {
    display: grid;
    gap:10px;
    width: 280px;
}
.go-button {
    width: 50%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}
