#mode-select {
    min-width: 350px;
    display: grid;
    gap: 10px;
    justify-items: center;
}
#mode-select label, .go-button{
    zoom: 1.5;
}
.stats-label {
    position: relative;
    top: -30px;
}
ol {
    display: grid;
    gap:10px;
    min-width: 280px;
}
.go-button {
    border-radius: 20px;
    width: 50%;
    margin-top: 15px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}
