.test-container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}
span:hover {
    cursor: pointer;;
}
.wrong-color {
    background-color: rgba(211, 113, 83,0.7);
}
.correct-color {
    background-color: rgba(125, 189, 125,0.7);
}