.grid {
    border-collapse: collapse;
    width: 600px;
    height: 600px;
    margin-top: 40px;
}
.cell {
    height: 60px;
    width: 60px;
}
h1 {
    text-align: center;
    width: 600px;
}
.start-label {
    position: fixed;
    top: 80px;
}
.hidden {
    display: none;
}