.grid {
    border-collapse: collapse;
    width: 600px;
    height: 600px;
    margin-top: 40px;
}
.cell {
    height: 60px;
    width: 60px;
}
h2 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    text-align: center;
    width: 600px;
    color: white;
}
.start-control {
    position: fixed;
    top: 80px;
    left: 10px;
}
.counter {
    position: fixed;
    right: 40px;
    top: 100px;
    height: 30px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
}
.hidden {
    display: none;
}